<h1>TinyApp</h1>

<% if(email) { %>
  <form method="POST" action="/logout">
      <h5>Logged in as: </a><%= email %></h5>
      <button type="submit" class="btn-primary">Logout</button>
  </form>
<% } else { %>
  
      <a href= "/login">Login</a>
      <a href= "/register">Register</a>

<!---
      <button type="submit" class="btn-primary">Login</button>
      <button type="submit" class="btn-primary">Register</button>

--> 
<% } %>

<!---

  <form method="POST" action="/login">
    Username: 
    <input type="text" name="username"><br>
    <input type="submit" value="Submit">


--> 
  
